$primaryColor: white;
$textColor:black;
$blue:rbg(0,0,72);
//MISC
*{
    margin:0 0 0 0;
}
.center{
    display: inline-block;
    margin:auto auto !important;
}
.center1{
    display: flex;
    margin:0 auto !important;
}
.container{
    display: block;
}
// Home

.homeDiv{
    height:100vh;
    
    color:$textColor;
}
.homeHalfDiv{
    height:50vh;
    background-color: lightgray;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.homeHalfDiv1{
    height:50vh;
    background-color: lightcyan;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.homeHeaderText{
    font-size: 5em;
    margin: auto auto;
    padding:50px;
    color:white !important;
}
#homeSubheaderText{
    font-size: 1em;
    margin: 0 auto;
    padding:20px;
    line-height: 2;
    color:white !important;
    background-color: black;
    opacity:75%;
    border-radius: 25px;
}
//NavBAr
.navbarPositoning{
    height:20%;
    padding: 50px 0px 50px 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3); 
    font-size: 24px;
}

//Footer
.footerClass{
    background-color: darkgray;
    color:white !important;
}

//Parallax
.content {
    height: 100%;
    width:100%;

}

